.task-list-numbers-container {
    display: flex;
    margin-top: 2.5rem;
    justify-content: space-between;
    gap: 1.25rem;
}

.task-count-card {
    border-radius: 0.75rem;
    width: 45%;
    padding: 1.5rem 2.25rem;
}

.card-new-task {
    background-color: #60a5fa;
}

.card-completed-task {
    background-color: #4ade80;
}

.card-accepted-task {
    background-color: #facc15;
}

.card-failed-task {
    background-color: #f87171;
}

.card-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}

.card-subtitle {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 0.125rem;
    font-weight: 500;
}

.card-text-black {
    color: #000000;
}
