.tasklist {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 400px;
  justify-content: start;
  align-items: center;
  background-color: #1e1e2f;
  border-radius: 10px;
  border: 1px solid #10b981;
  padding: 5px;
  margin: 10px;
  color: white;
}

.priority-bar {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 490px;
  height: 100px;
  justify-content: start;
  align-items: center;
}

.priority-label {
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding: 10px;
  margin: 1px 1px;
  background-color: #ef4444;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}

.task-title {
  color: #10b981;
  font-size: 1.5rem;
  margin: 10px 0;
  text-align: center;
  font-weight: 600;
}

.task-desc {
  padding: 10px;
  font-size: 15px;
  color: white;
  text-align: center;
  margin: 10px 0;
  flex-grow: 1;
}

.task-actions {
  display: flex;
  gap: 15px;
  margin-top: auto;
  margin-bottom: 20px;
  justify-content: center;
  width: 100%;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;
  min-width: 160px;
  text-align: center;
}

.button-accept {
  background-color: #10b981;
  color: white;
}

.button-accept:hover {
  background-color: #0d9f6e;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

