.header-container {
    width: 100%;
  }
  
  .header-bar {
    display: flex;
    justify-content: space-between;
    height: 15vh;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
  }
  
  .header-greeting {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-top: 7.5px;
  }
  
  .header-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  
  .header-username {
    font-size: 35px;
    font-weight: bold;
    color: white;
  }
  
  .logout-button {
    background-color: #10b981;
    margin-top: 10px;
    color: white;
    padding: 5px;
    width: 100px;
    height: 70px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  