.header-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header-greeting {
  font-size: 1.5rem; 
  line-height: 2rem; 
  font-weight: 500;
}

.header-username {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
}

.logout-button {
  background-color: #dc2626;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  padding: 0.5rem 1.25rem;
  border-radius: 0.125rem;
}
