.tasklists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 15px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22%;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #10b981;
    padding: 20px;
    color: black;
    gap: 10px;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  .card-button {
    background-color: #607d8b;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .new-task {
    background-color: #38bdf8;
  }
  
  .completed {
    background-color: #34d399;
  }
  
  .accepted {
    background-color: #fbbf24;
  }
  
  .failed {
    background-color: #f87171;
  }
  